@using CvAndPortfolio.Models.Entity
@model List<TBLMESSAGE>


<body>
    <div class="layout-page">
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <div class="card">
                    <h5 class="card-header">Latest 5 Messages</h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SENDER</th>
                                    <th>EMAIL</th>
                                    <th>SUBJECT</th>
                                   
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.NAME</strong></td>
                                        <td>@item.EMAIL</td>
                                        <td>@item.SUBJECT</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>