@using CvAndPortfolio.Models.Entity
@model List<TBLFACTDESCRIPTION>


<!-- ======= Facts Section ======= -->
<section id="facts" class="facts">
    <div class="container">
      
        <div class="section-title">
            <h2>Facts</h2>
            @foreach (var item in Model)
            {
                <p>@item.DESCRIPTION</p>
            }
            </div>
       
        @Html.Action("PartTwoFacts")

    </div>
</section><!-- End Facts Section -->
