@using CvAndPortfolio.Models.Entity
@model List<TBLSTUDY>

<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
    
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 portfolio-item filter-@item.TBLCATEGORY.CATEGORY">
            <div class="portfolio-wrap">
                <img src="@item.PICTURL" class="img-fluid" alt="">
                <div class="portfolio-links">
                    <a href="@item.PICTURL" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.TBLCATEGORY.CATEGORY"><i class="bx bx-plus"></i></a>
                    <a href="/Home/PortfolioDt/@item.ID" title="More Details"><i class="bx bx-link"></i></a>
                </div>
            </div>
        </div>
    }

</div>

