@using CvAndPortfolio.Models.Entity
@model List<TBLSTUDYPIC>

<section id="portfolio" class="portfolio section-bg">
    <div class="container">
        <div class="section-title">
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-@item.TBLSTUDY.TBLCATEGORY.CATEGORY">
                        <div class="portfolio-wrap">
                            <img src="@item.PICURL" class="img-fluid" alt="">
                            <div class="portfolio-links">
                                <a href="@item.PICURL" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@item.TITLE"><i class="bx bx-plus"></i></a>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        </div>
</section>

