@using CvAndPortfolio.Models.Entity;
@model List<TBLFACT>
@{
    ViewBag.Title = "Facts";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<body>
    <div class="layout-page">
        <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">About Me /</span> Facts</h4>
                <div class="card">
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th>TITLE</th>
                                    <th>VALUE</th>
                                    <th>UPDATE</th>
                                    <th>DELETE</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.TITLE</td>
                                        <td>@item.VALUE</td>
                                        <td><a href="/About/FactUpdate/@item.ID" class="btn btn-info">EDIT</a></td>
                                        <td><a href="/About/FactDelete/@item.ID" class="btn btn-warning">DELETE</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <a href="/About/FactAdd/" class="btn btn-primary">ADD NEW FACT</a>
            </div>
        </div>
    </div>
</body>


